@font-face {
    src: url(../assets/Poppins/Poppins-Regular.ttf);
     font-family: Poppins;
 }
 @font-face {
    src: url(../assets/Poppins/Poppins-Bold.ttf);
     font-family: PoppinsBold;
 }

.bodyday{
    background-image: url(../assets/1540016.jpg);
}

.bodyDark{
    background-image: url(../assets/Moonlight\ Sonata.jpeg);
}

.SearchBar {
    width: 66%;
    padding: 1% 12%;
    margin: 1% 1%;
    background-image: url(../assets/searchicon.png);
    background-size: contain;
    background-repeat: no-repeat;
    outline: 0;
    background-position: 12px;
    background-size: 16px;
  }

.TxtBold{
    font-family: PoppinsBold;
    color: white;
}
.TxtBoldBtn{
    font-family: PoppinsBold;
    color: white;
    padding: 7px;
}

.card-title{
    font-family: PoppinsBold;
    text-align: center;
    opacity: 1;
}
.card-title1{
    font-family: PoppinsBold;
    text-align: center;
    padding-left: 50px;
    font-size: 30px;
    opacity: 1;
}
.card-title2{
    padding-top: 20px;
    font-family: PoppinsBold;
    text-align: center;
    font-size: 16px;
    opacity: 1;
}

.weatherIcon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.icon{
   opacity: 1;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.card-text1{
    font-family: Poppins;
    text-align: center;
}
.card-text2{
    padding-top: 20px;
    font-family: PoppinsBold;
    text-align: center;
    font-size: 34px;
}
.card-text3{
    padding-top: 40px;
    font-family: PoppinsBold;
    text-align: center;
    font-size: 40px;
}


.card{
    border-radius: 30px;
    opacity: 0.8;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, .9);
}

.textTime{
    font-family: PoppinsBold;
    text-align: center;
    font-size: 80px;
}

.buttonFav{
    background-color: #444444;
    border-radius: 40px;
    width: 182px;
    height: 42px;
    color: white;
}


.SearchBar{
    background-color: #444444;
    border-radius: 15px;
    height: 42px;
    width: 460px;
    font-size: 18px;
    color: white; 
}

.weatherIcon5{
    position: absolute;
    left: 100px;
    top: 50px;
}

.OpacityNone{
    padding: 0px;
    opacity: 0;
    size: 0px;
    
    height: 2px;
    margin: 0px;
}


.CheckedBox {
    -webkit-appearance: none;
    position: relative;
    width: 80px;
    height: 30px;
    border-radius: 25px;
    background-color: #D9D9D9;
    cursor: pointer;
}

.CheckedBox::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: #444444;
    transition: left .3s;
}


.CheckedBox:checked::after {
    left: 80%;
}

.FavBtn{
    border-color: transparent;
    background-color: transparent;
}
